body {
    background-color: #f0f0f0 !important;
}

input[type=checkbox] {
    position: initial;
}

h3 a {
    color: #1b1e21;
}

.dgcpdb_message {
    border: 1px solid #e1e02a;
    border-radius: 5px;
    background-color: #e1e02a ;
    padding: 5px;
    margin: 10px;
}

.dgcpdb_message p {
    margin: 0;
    height: 100%;
    color: #1e1e1e;
    font-weight: bold;
}


/*---------- zebra_style ----------*/
table.dgcpdb_zebra_style {
    border: 1px solid #ccc;
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    background-color: #ececec;
}

table.dgcpdb_zebra_style th {
    color: #444;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 4px;

}

table.dgcpdb_zebra_style td {
    direction: ltr !important;
    color: #777;
    padding: 4px;
    font-size: 13px;
}

table.dgcpdb_zebra_style th {
}

table.dgcpdb_zebra_style tbody tr:nth-child(odd) {
    background-color: #d6d6d6;
}

table.dgcpdb_zebra_style tbody select {
    color: #777 !important;
    background-color: #00000000 !important;
    border: none !important;
}

table.dgcpdb_zebra_style tfoot {
    background-color: #f9f9f9 !important;
    border-top: 2px dashed #d6d6d6;
}

table.dgcpdb_zebra_style tfoot select,
table.dgcpdb_zebra_style tfoot input {
    color: #777 !important;
    background-color: #00000005 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: #444444 2px solid !important;
    border-radius: unset !important;
}

table.dgcpdb_zebra_style input[type=number],
table.dgcpdb_zebra_style input[type=text] {
    background-color: #ffffff00;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
}

/*---------- toggle button ----------*/

/* The switch - the box around the slider */
.dgcpdb_switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.dgcpdb_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.dgcpdb_switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #797979;
    -webkit-transition: .4s;
    transition: .4s;
}

.dgcpdb_switch_slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 13px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .dgcpdb_switch_slider {
    background-color: #2196F3;
}

input:focus + .dgcpdb_switch_slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .dgcpdb_switch_slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.dgcpdb_switch_slider.round {
    border-radius: 15px;
}

.dgcpdb_switch_slider.round:before {
    border-radius: 50%;
}

.dgcpdb_form {
    width: 100%;
    height: auto;
    background-color: #dfdfdf;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    padding: 10px;
}

.dgcpdb_form h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid #bcbcbc;
}

.dgcpdb_code_box {
    text-align: left;
    direction: ltr;
    background-color: #FCF8E3;
    color: black;
    font-size: 10pt;
    padding: 5px;
}